@model List<Ludoria.Models.Game>
@{
    ViewData["Title"] = "Oyun Blog";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@section Slider {
    @foreach (var game in Model)
    {
        <div class="slider-item">
            <div class="slider-item-content">
                <div class="post-thumb mb-4">
                    <a href="@Url.Action("Index", "Blog", new { id = game.Id })">
                        <img src="@Url.Content(string.IsNullOrEmpty(game.ImageURL) ? "~/blog/theme/images/game/lastofus.jpg" : (game.ImageURL.StartsWith("/") ? game.ImageURL : "/" + game.ImageURL))"
                             alt="@game.Name"
                             class="img-fluid"
                             onerror="this.onerror=null; this.src='@Url.Content("~/blog/theme/images/game/lastofus.jpg")'; console.log('Resim yüklenemedi: ' + this.src);">
                    </a>
                </div>

                <div class="slider-post-content">
                    <span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">@game.Genre  </span>
                    <h3 class="post-title mt-1"><a href="@Url.Action("Index", "Blog", new { id = game.Id })">@game.Name</a></h3>
                    <h5 class="text-muted text-capitalize" style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; text-align: center; max-width: 250px; margin: 0 auto;">
                        @game.Description
                    </h5>
                    <br />
                    <span class="text-muted text-capitalize">@game.ReleaseDate.ToString("dd MMMM, yyyy")</span>
                </div>
            </div>
        </div>
    }
}

